{# Load the tag library #}
{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<!DOCTYPE html>
<html style="padding: 30px;">
  <head>
    <title>Create Inventory Item</title>

    <!-- NAVIGATION BAR -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Simple Inventory Application</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/create-warehouse/">Create Warehouse</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/create-inventory-item/">Create Inventory</a>
            </li>
          </ul>
        </div>
    </nav>
    <!-- END NAVIGATION BAR -->  
  </head>
  </head>
  <body>
    <h2>Create Inventory Item</h2>
    <form method="post">
        {% csrf_token %} 
           {{form.as_p}}
           <input type="submit" value="Create"> 
    </form> 
    <footer id="sticky-footer" style="padding: 20px;" class="navbar-light bg-light">
        <div class="container text-center">
          <small>Copyright &copy; Simple Inventory Application, Created by <a href="https://www.linkedin.com/in/dylan-herbig/">Dylan Herbig</a></small>
        </div>
    </footer>
  </body>
</html>